# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
.astro
.astro-content
.turbo
.husky
.vercel
dist/
.output/
node_modules
generated

# dependencies
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage/
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.VSCodeCounter/

# local env files
.env*

# ssl certs
*.pem
*.key

e2e/output
lighthouse
stats.html
.stylelintcache
.cspellcache
