@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
  .text-page {
    color: var(--kw-color-text-page);
  }

  .text-muted {
    color: var(--kw-color-text-muted);
  }

  .bg-light {
    @apply bg-base-100;
  }

  .bg-dark {
    @apply dark:bg-base-100;
  }
} */

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto auto;
  min-height: 100%;
}

:root, [data-theme] {
  @apply bg-base-100;
  /* color: hsla(var(--bc) / var(--tw-text-opacity, 1)); */
}

#main-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.container {
  @apply max-w-full mx-auto px-4;
}

@media screen(sm) {
  .container {
    padding: 0 24px;
  }
}

@media screen(sm) {
  .container {
      padding: 0 40px;
  }
}

@media screen(xl) {
  .container {
    padding: 0 72.5px;
  }
}

@media screen('2xl') {
  .container {
    max-width: 1760px;
  }
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

/* [data-kw-toggle-menu] path {
  @apply transition;
}

[data-kw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-kw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
} */

.modal.is-visible {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.fade-right-enter-active {
  animation: fade-in-right 0.5s;
}

.fade-right-leave-active {
  animation: fade-out-left 0.5s;
}

.fade-left-enter-active {
  animation: fade-in-left 0.5s;
}

.fade-left-leave-active {
  animation: fade-out-right 0.5s;
}

.fade-right-enter-from,
.fade-right-leave-to,
.fade-left-enter-from,
.fade-left-enter-to {
  position: absolute;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
