@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
  .text-page {
    color: var(--kw-color-text-page);
  }

  .text-muted {
    color: var(--kw-color-text-muted);
  }

  .bg-light {
    @apply bg-base-100;
  }

  .bg-dark {
    @apply dark:bg-base-100;
  }
} */

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto auto;
  min-height: 100%;
}

:root, [data-theme] {
  @apply bg-base-100;
  /* color: hsla(var(--bc) / var(--tw-text-opacity, 1)); */
}

#main-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

#navbar.scroll {
  @apply shadow-md md:drop-shadow-xl bg-light text-base-content;
}

#navbar .kw-logo {
  @apply fill-primary;
}

#navbar.home-navbar .kw-logo {
  @apply !fill-white;
}

#navbar.scroll .kw-logo,
#navbar.home-navbar.scroll .kw-logo {
  @apply !fill-primary;
}

#navbar .btn {
  @apply text-gray-800;
}

#navbar.home-navbar .btn {
  @apply text-white;
}

#navbar.scroll .btn {
  @apply !text-gray-800;
}

#navbar.scroll nav .btn {
  @apply text-gray-800 fill-gray-800;
}

#navbar.home-navbar.scroll .btn {
  @apply !text-gray-800;
}

#navbar #color-mode-toggle-button svg {
  @apply fill-gray-800;
}

#navbar.home-navbar #color-mode-toggle-button svg {
  @apply fill-white;
}

#navbar.scroll #color-mode-toggle-button svg,
#navbar.home-navbar.scroll #color-mode-toggle-button svg {
  @apply !fill-gray-800;
}

.dark #navbar.scroll {
  @apply bg-light text-white;
}

.dark #navbar.scroll .kw-logo {
  @apply bg-light;
}

#navbar.scroll:not(.show-booking-form) #navbar-book-now-button {
  @apply scale-100 translate-y-0 opacity-100 z-0;
}

#navbar.scroll:not(.show-booking-form) #navbar-booking-options {
  @apply invisible h-0;
}

#navbar.scroll:not(.show-booking-form) #booking-quick-form-wrapper {
  @apply invisible h-0;
}

#navbar.scroll:not(.show-booking-form) #booking-quick-form {
  @apply translate-y-[-75px] transform scale-50 opacity-0 z-[100];
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-kw-toggle-menu] path {
  @apply transition;
}

[data-kw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-kw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

.modal.is-visible {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.custom-calendar .vc-header {
  @apply pb-2;
}

.custom-calendar .vc-arrows-container {
  @apply btn-group;
}

.custom-calendar .vc-arrows-container .vc-arrow {
  @apply btn btn-sm btn-outline btn-secondary rounded-none;
}

.custom-calendar .vc-arrows-container .vc-arrow:first-child {
  @apply rounded-l-md border-r-0;
}

.custom-calendar .vc-arrows-container .vc-arrow:last-child {
  @apply rounded-r-md;
}

.custom-calendar .vc-weeks {
  @apply p-0;
}

.custom-calendar .vc-weeks .vc-weekday {
  @apply border-y;
  /* background-color: var(--weekday-bg); */
    /* border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0; */
}

.custom-calendar .vc-weeks .vc-day {
  @apply min-w-[90px] relative flex flex-col w-full h-40 justify-start items-start;
}

/* .custom-calendar .vc-weeks .vc-day.weekday-7 {
  @apply border-r-0;
} */

.custom-calendar .vc-weeks .vc-day .vc-day-content {
  @apply
    text-sm
    leading-none
    text-black
    dark:text-base-content
    justify-start
    items-start
    h-full
    w-full
    hover:rounded-none
    focus:rounded-none;

  padding-block-start: 0.75rem;
  padding-inline-start: 0.75rem;
}

.custom-calendar .vc-weeks .vc-day .vc-day-content.is-disabled {
  @apply opacity-40 bg-gray-500 dark:bg-gray-800 rounded-none cursor-not-allowed;
}

.custom-calendar .vc-weeks .vc-day .vc-highlights .vc-day-layer {
  @apply left-2 mt-2 justify-start items-start;
}

.custom-calendar .vc-weeks .vc-weekday:not(:first-child) {
  @apply border-l;
}

.custom-calendar .vc-weeks .vc-day:not(.on-bottom) {
  @apply border-b;
}

.custom-calendar .vc-weeks .vc-day:not(.on-right) {
  @apply border-r;
}

.custom-calendar .vc-day.is-not-in-month * {
  @apply opacity-40;
}
